img {
    height: auto;
    width: 150px;
}

.header-container {
    display: flex;
    justify-content: center;
}
.header-items {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
 
}

.row-one-container {
    display: flex;
    justify-content: center;
}
.row-one-container-items {
    display: flex;
    justify-content: center;
}
.row-two-container {
    display: flex;
    justify-content: center;
}
.row-two-container-items {
    display: flex;
    justify-content: center;
}
.row-three-container {
    display: flex;
    justify-content: center;
}
.row-three-container-items {
    display: flex;
    justify-content: center;
}